.toolbar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: rgb(248, 174, 37);
    height: 56px; 
}

.toolbar_logo {
    margin-left: 1rem;
    ;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

} 
.toolbar_navigation_items ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;

}

.spacer{
    flex: 1;
}
