.App {
  text-align: center;
  background-color: antiquewhite;
  height: 100vh;
}

.header{
  margin-top: 2%;
}

.name{
  font-family: Verdana;
}
.email{
  font-family: Verdana;
}

.numbers{
  font-family: Verdana;
}
