.App {
    margin: 1;
    padding: 1
}

.App-header {
    background-color: #2b6ae7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(233, 225, 225);
}

.App-link {
    color: #61dafb;
}

.main {
    font-size: 20px;
    font-family: Times New Roman;
    color: black;
    text-align: center;
    text-decoration: underline;
}

.btn {
    padding: 2rem;
}

.button {
    font-size: 10px;
    text-align: center;
    margin: 3rem;
}

.companies {
    color: black;
    text-align: left;
    font-family: fantasy;
    font-size: 16px;
    margin: 5rem;
    padding: 0;
}

.ul {
    padding: 0;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: rgb(7, 7, 6)
}

body {
    margin: 0;
    width: 100%;
    height: 10%;
    font-family: "Exo", sans-serif;
    color: #fff;
    background-size: 400% 400%;
    background-image: url('./flight.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loader {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid lightblue;
    border-right: 16px solid white;
    border-bottom: 16px solid lightblue;
    border-left: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}