.con{
    text-align: left;
}

.data{
    margin-top: 2rem;
}

.books{
    margin-left: 1%;
}

.header{
    margin: auto;
}

.search{
    text-align: right;
    margin-right: 1%;
}

button{
    border-radius: 4px;
}
.edit_author{
    align-content: center;
    border-radius: 4%;
}