.App {
  text-align: left;
}

.header {
  margin-top: 10%;
  font-size: 40px;
  text-align: center;
 text-decoration: underline wavy grey;
}

body {
  background-image: url("white.jpg");
  background-size: cover;
}

.App-intro {
  font-size: large;
}
