body{
  background-color:gray;
}
.font-primary {
  font-family: 'Inconsolata', monospace;
}

.header {
  border-bottom: 2px solid black;
}

h1 {
  font-size: 4em;
}

.button-panel {
  margin-top: 10px;
  font-size: 1.5em;
}

.button-panel-item {
  margin: 5px;
}

.board-item {
  height: 200px;
  width: 200px;
  margin: 10px;
}