.App {
  text-align: center;
  background-color: pink;
  height: 1000px;
  display: flex;
justify-content: space-around;
}

.users {
  text-align: left;
}

.books{
  text-align: center;
}

.computers {
  text-align: right;
  margin: 5px;
}