body, html {
  background-image: url(phone.jpg);
  background-size: cover;
 

}
.header{
  font-size: 500%;
  font-family: Georgia;
  color: orange;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}