body, html {
  background-image: url(view.jpg);
  background-size: cover;
 

}
.header{
  font-size: 500%;
  font-family: Georgia;
  color:gray;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
